@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800;900&display=swap");

/* Variables */
:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-lg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6f00;
  --electric: #64d3ff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/*  =========== HEADER ===========  */
header {
  background: #0f15259e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  position: fixed;
  width: 100%;

  /* FALTA HACER ALGO */
}
img {
  background-color: #3e63dc;
  border-radius: 1rem;
  grid-row: auto;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 5rem;
}

.navbar-list {
  gap: 1rem;
}

.navbar-list a {
  color: white;
  font-size: 14px;
}

/* Futuro */
/* .navbar-list li:first-child > a {
  font-weight: 600;
  color: var(--text-white);
} */

.navbar-list .active {
  font-weight: 600;
  color: var(--text-white);
}

.cart-icon {
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
}

/*  =========== HERO SECTION ===========  */
main {
  background: url(/assets/img/hero/964e4289b6f034b9548e04e5fa9e46f1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: white;
}

#hero {
  max-width: 1000px;

  margin-top: 65px;
  padding: 80px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  width: 80%;
  min-width: 500px;
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--btn-lg);
}

.hero-info span {
  font-weight: 800;
  text-transform: uppercase;
}

.hero-info a {
  color: var(--text-white);
  background: var(--primary);
  padding: 8px 12px;
  border-radius: 8px;
}

.hero-card {
  background-color: var(--secondary);

  width: 400px;

  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.hero-card-top h3 {
  font-weight: 600;
  white-space: normal;
  overflow: center;
  text-overflow: ellipsis;
  cursor: pointer;
}

.hero-card-top span {
  background: var(--primary);
  border-radius: 10px;
  padding: 3px 15px;
  font-size: 14px;
}

.hero-card-creator img {
  height: 60px;
  width: 60px;
}

/* CAMBIAR A PSEUDOCLASE P */

.about-text {
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  padding: 70px 50px;
  gap: 20px;
  font-size: small;
}

.container {
  margin: auto;
  cursor: pointer;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  flex-wrap: wrap;
  font-size: small;
  cursor: pointer;
}

#about {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #3e3e3e87;
  border-radius: 1rem;
  border: 5px solid #000000;
  float: left;
  margin: 10px;
  transition: margin 0.5s ease-out;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  cursor: pointer;
}

#about:hover {
  margin-top: 4px;
}
#Cartas {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  margin: 10px;
}
.card-uno {
  display: flex;
  cursor: pointer;
  border-radius: 15px;
  box-sizing: border-box;

  height: 400px;
  width: 250px;
  margin-bottom: 15px;
  background-size: cover;
  background-image: url(/assets/img/hero/aekwondo-girl3.jpeg);
  border: 5px solid #2c57b4;
  float: left;
  margin: 10px;
  transition: margin 0.1s ease-out;
  -webkit-transition: margin 0.1s ease-out;
  -moz-transition: margin 0.1s ease-out;
  -o-transition: margin 0.1s ease-out;
}

.card-dos {
  display: flex;
  cursor: pointer;
  border-radius: 15px;

  height: 400px;
  width: 250px;
  margin-bottom: 15px;
  background-size: cover;
  background-image: url(/assets/img/hero/taekwondo2.jpeg);
  border: 5px solid #2c57b4;
  float: left;
  margin: 10px;
  transition: margin 0.1s ease-out;
  -webkit-transition: margin 0.1s ease-out;
  -moz-transition: margin 0.1s ease-out;
  -o-transition: margin 0.1s ease-out;
}

.card-tres {
  display: flex;
  cursor: pointer;
  border-radius: 15px;

  height: 400px;
  width: 250px;
  margin-bottom: 15px;
  background-size: cover;
  background-image: url(/assets/img/hero/HD-wallpaper-taekwondo-girl-5-by-blackguard-saracen-taekwondo-girl-martial-arts-women-taekwondo-girl-karate.jpeg);
  border: 5px solid #2c57b4;
  float: left;
  margin: 10px;
  transition: margin 0.1s ease-out;
  -webkit-transition: margin 0.1s ease-out;
  -moz-transition: margin 0.1s ease-out;
  -o-transition: margin 0.1s ease-out;
}

.card-uno:hover {
  margin-top: 4px;
}

.card-dos:hover {
  margin-top: 4px;
}

.card-tres:hover {
  margin-top: 4px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #050506;
  font-size: 12px;
  gap: 2rem;
}

#Btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  border-radius: 1rem;
  align-items: center;
  background-color: #1e50ff;
  gap: 20px;
  width: 200px;
}
